<!--*ngIf  -->
<p *ngIf="usuario">Hola, {{ usuario }}</p>
<p *ngIf="!usuario">No hay usuario registrado</p>

<!--*ngFor  -->
<ul>
  <li *ngFor="let fruta of frutas">{{ fruta }}</li>
</ul>

<!--*ngSwitch  -->
<div [ngSwitch]="color">
  <p *ngSwitchCase="'rojo'">El color es rojo 🔴</p>
  <p *ngSwitchCase="'azul'">El color es azul 🔵</p>
  <p *ngSwitchDefault>Color no reconocido</p>
</div>

<!--[ngStyle]  -->
<p [ngStyle]="{ 'color': esActivo ? 'green' : 'red' }">
  Estado: {{ esActivo ? 'Activo' : 'Inactivo' }}
</p>

<!--[ngClass]  -->
<p [ngClass]="{ 'resaltado': esActivo1 }">Texto con estilo</p>
